.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 5vh;
    border-radius: 10px;
    background: #8FA998;
  }
  .input-form {
    position: absolute;
    top: 25%;
    height: 70vh;
  }
  .input-label{
    color: white;
    text-align: left;
  }
  .input-text{
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 4vh;
  }
  .input-textfield{
    width: 40vh;
    border-color: #255957;
    border-width: 20px;
  }
  .input-login{
    color:#BADF99;
    &:hover{
      color:#255957;
      cursor: pointer;
      transition: 0.5s;
    }
  }
  .logo-container{
    display: flex;
    
  }
  .tasktracer-logo{
    width: 8vh;
    height: 8vh;
    display: inherit;
    margin-left: 25vh;
    margin-right: 2vh;
    margin-top: 2vh;
  }
  .tasktracer-name{
    margin-top: 4vh;
    font-size: larger;
    font-weight: bold;
  }
  