.sidebarContent {
    padding: 16px;
    color: #C8D5D5;
    background-color: #255957;
    height: 97%;
    overflow-y: scroll;
}
.sidebarContent::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.sidebarContent::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the scrollbar thumb transparent */
}

.sidebarContent::-webkit-scrollbar-track {
    background-color: transparent; /* Make the scrollbar track transparent */
}
.sidebarTitle{
    color: #C8D5D5;
    margin-bottom: 30px,
}
.sidebar-menu{
}

.listItem {
    border-radius: 4px;
    margin-bottom: 8px;
}

.listItem:hover {
    background-color: #f0f0f0;
}

.listItemText {
    font-weight: 600;
}

.nestedList {
    padding-left: 50px;
}