.avatar {
    width:8vh;
    height:7vh;
    margin-top:1vh;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.avatar:hover {
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}