.column-container {
    background-color: #255957;
    width: 100%;
    height: auto;
    min-height: 400px;
    color: white;
    border-radius: 10px;
}

.column-content {
    margin-left: 1vw;
}

.kanban-container{
    margin-top: 20px;
}
.column-title{
    padding-top: 10px;
}
.project-url {
    display: flex;
    align-items: center;
  }
  
  .project-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #255957; /* Arka plan rengiyle uyumlu bir renk seçimi */
    margin-right: 20px; /* İstediğiniz boşluk miktarı */
  }